<!-- /*
=======================================
/ Title: Assignment 3.3
/ Author: Professor Itskovish
/ Date: 9/29/20
/ Modified by: Becca Buechle
/ Description: Assignment 3.3
=======================================
*/
-->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>

  </ul>

</nav>

<div class="container">

  <br/><br/>

  <h2>Assignment 3.4 – Guarding Routes</h2>

  <br/><br/>

  <div class="row">

    <div class="col-md-6">

      <app-my-image></app-my-image>

    </div>

    <div class="col-md-6">

      <app-my-details></app-my-details>

    </div>

  </div>

  <br/><br/>

  <ng-template #showError>

    <div class="row">

      <div class="col-sm-12">

        <h4 class="alert alert-danger">

          You are not authorized to view this content.

        </h4>

      </div>

    </div>

  </ng-template>

</div>
