<!--/*
============================================
; Title: about
; Author:  Peter Itskovich
; Date: September 22 2020
; Modified By: Becca Buechle
; Description: Assignment 2.4 Routing in Action
;===========================================
*/
-->


<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Trans-Siberian Orchestra - About</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">

    <div class="col-sm-3">

      <img src="./assets/paul_o_neill.jpg">

    </div>

    <div class="col-sm-9">

      <p>
        In 1996 Paul O’Neill formed the Trans-Siberian Orchestra. After forming he then recruited several friends of his Robert Kinkel
        and Jon Oliva to be apart of his core writing team. Paul O’Neill had amazing talent and worked for years leading up to this
        working as a writer and producer in the music industry. His list of famous artists that he worked with was several miles long
        such as people like Madonna, Sting and Aerosmith. Sadly, though his life was cut short when he passed away in April of 2017.
      <br /> <br />
        Source: Trans-Siberian. (2020). Siberian Orchestra: About. Retrieved September 22, 2020, from https://www.trans-siberian.com/about/composer
      </p>

    </div>
  </div>
</div>







