<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">

    <div>
      <img src="./assets/lois.jpg">
    </div>
    <div>
      <em>
         Photo By GoodReads <a class="attribution-link" href="https://www.goodreads.com/author/show/2493.Lois_Lowry" target="_blank">GoodReads</a>
      </em>
    </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="blue">Who was Lois Lowry?</h1>
    <p>
      Lois Lowry was the middle child of three and moved all over due to her family
      being a military family. She married at the young age of 19 to a gentleman in
      the Navy and then had grew their family by having four children. She began to
      write when she later returned for her graduate degree. She dreamed of writing
      since she was a child and finally got to start. The books she wrote varies in
      content and style but are all remarkable works of art.   Lois has gone on to
      write many books that have won prizes such as the Newbery Medal.
    </p>
    <em>
      Biography Source: <a href="http://loislowry.com/biography/" target="_blank" class="attribution-link">Lois Lowry</a>
    </em>
  </div>
</div>
