<div fxLayout="row wrap">

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          123 Pine Street
        </p>
        <p>
          Seattle, Washington
        </p>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>

    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>
        Direct: 425-657-5309
      </p>
      <p>
        Toll-free: 1-800-123-4567
      </p>
      <p>
        Fax: 123-456-7890
      </p>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<br/> <br /><br/> <br />

<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or in person!
  </p>
</div>
